/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #999;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 742px;
  margin: 20px; /* NOTE: Temporary */
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #656565;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  font-size: 11px;
  padding: 24px 18px;
}

header h1 {
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 9px;
  padding: 2px 0 8px;
}

header #picture + div {
  margin-left: 82px;
}

header #picture {
  background-position: center 25%;
  background-repeat: no-repeat;
  float: left;
  margin-right: 18px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

header .tagline {
  float: left;
}

#share-app {
  float: right;
  width: 318px;
}

#share-app ul {
  float: right;
}

#share-app p {
  float: left;
}

#share-app li {
  float: left;
  list-style: none;
  margin-left: 8px;
}
/* ------------------------------------------ */

/* =guides/samples spacing
--------------------------------------------- */
#guides h1,
#samples h1 {
  margin-bottom: 15px;
  text-align: center;
}

#guides, #samples {
  padding: 20px 10px 20px 14px;
}

#guides ul li,
#samples .list {
  float: left;
  margin-right: 7px;
  width: 351px;
}

#guides ul li p,
#samples ul {
  padding: 0 4px;
}
/* ------------------------------------------ */

/* =guides
--------------------------------------------- */
#guides {
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

#guides ul li {
  font-size: 11px;
  list-style: none;
}

#guides ul li p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  line-height: 20px;
  text-align: justify;
}

#guides ul li:first-child {
  margin-left: 0;
}

#guides ul li a.icon {
  background: url("../images/sprites.png") no-repeat;
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 124px;
  text-align: center;
}

#guides ul li a.websites {
  background-position: 35px -87px;
}

#guides ul li a.mobile-apps {
  background-position: 35px -231px;
}

#guides ul li a.apps-on-facebook {
  background-position: 35px -375px;
}

#guides ul li a.heroku {
  background-position: 35px -519px;
}
/* ------------------------------------------ */

/* =samples
--------------------------------------------- */
#samples {
  /* background-image: url("../images/samples-bg.png"); */
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #fff;
}

#samples div#male {
  background-color: lightblue;
}

#samples div#female {
  background-color: pink;
}

#samples h3 {
  color: #646464;
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
}

#samples ul {
  /* background: url("../images/picture-sketch.png") 4px 8px; */
  /* background-repeat: repeat-y; */
  /* height: 161px; */
  /* overflow: hidden; */
  padding-top: 8px;
}

#samples li {
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #7c7c7c;
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 11px;
  overflow: hidden;
  position: relative;
}

div#statustext {
  font-size: 20px;
  font-weight: normal;
}

#samples li a:link,
#samples li a:visited {
  color: #7c7c7c;
  display: block;
  line-height: 32px;
  padding-left: 36px;
}

#samples .list img {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

#samples .inline ul {
  background-repeat: repeat;
}

#samples .inline li {
  float: left;
  margin-left: 12px;
  overflow: hidden;
  padding: 0;
  width: 32px;
  background-position: center 25%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

#samples .inline li.first-column {
  margin-left: 0;
}

#samples .inline li a:link,
#samples .inline li a:visited {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}


/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
